<section id="services" class="services">
    <div class="container" data-aos="fade-up">
  
      <div class="section-title">
        <h2>Blogs</h2>
      </div>
  
      <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <img class="card-img-top" src="assets\favicon.ico.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">IMAGE RESIZER AND CONVERTER </p>
              <a href="https://www.algoblend.in/algoblend-image-resizer-and-converter" class="btn btn-primary">Read
                blog</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <img class="card-img-top" src="assets\img\bg-mobile-fallback.jpg" alt="Card image cap" style="height:300px">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">WORD DOCs TO PDFs CONVERTER </p>
              <a href="https://www.algoblend.in/word-doc-to-pdf-converter" class="btn btn-primary">Read blog</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <img class="card-img-top" src="assets\img\resume.jpg.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">  Job winning resume templates</p>
              <a href="https://vipinnagar8700.wordpress.com/2022/10/02/job-winning-resume-templates/" class="btn btn-primary">Read
                blog</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 