<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/listRole"><i class="fa fa-home">Home</i></a></li>
        <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-user">Add Role</i></li>
    </ol>
</nav>
<div class="container jumbotron">
    <form action="/admin/insertRole" method="POST">
        <div class="card">
            <h2 style="text-align: center; padding-top: 2%;"> ADD ROLE</h2>
            <div class="form-group">
                <label for="validationServer02">Role Name</label>
                <input type="name" class="form-control" name="RoleName" id="validationServer02" aria-describedby="Help"
                    placeholder="Enter New Role Name" required>
            </div>
            <div class="form-group">
                <label for="inputState">Status</label>
                <select id="inputState" name="Status" class="form-control">
                    <option selected hidden disabled>Choose status</option>
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                </select>
            </div>
            <div class="form-group">
                <label for="validationServer02">Permissions</label>
                <select id="multiple-checkboxes" multiple="multiple" name="permission" class="form-control">
                    <option selected hidden disabled>Select Permissions</option>
                    <option value="Deshboard">Deshboard</option>
                    <option value="Features">Features</option>
                    <option value="Blog">Blog</option>
                    <option value="Category">Category</option>
                    <option value="Pages">Pages</option>
                    <option value="Role">Role</option>
                    <option value="User">User</option>
                </select>



            </div>
            <!-- <div class="form-group">
                <label for="validationServer02">Permissions</label>
                <input type="name" class="form-control" name="permission" id="validationServer02" aria-describedby="Help"
                    placeholder="Enter Permissions" required>
            </div> -->
            <div class="form-group">
                <label for="inputState">Status</label>
                <select id="inputState" name="permission_Status" class="form-control">
                    <option selected hidden disabled>Choose status</option>
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                </select>
                <br>

                <button type="submit" onclick="addRole()" class="btn btn-primary">Submit</button>

            </div>

        </div>
    </form>
</div>
<script>
    function addRole() {
        alert("I am an alert box!");
    }

</script>
<script>
    $(function () {
    $('.selectpicker').selectpicker();
});
</script>
<div class="row">
    <div class="col-lg-6 mx-auto">
        <label class="text-white mb-3 lead">Where do you live?</label>
        <!-- Multiselect dropdown -->
        <select multiple data-style="bg-white rounded-pill px-4 py-3 shadow-sm " class="selectpicker w-100">
            <option>United Kingdom</option>
            <option>United States</option>
            <option>France</option>
            <option>Germany</option>
            <option>Italy</option>
        </select><!-- End -->
    </div>
</div>