<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/listRole"><i class="fa fa-home">Home</i></a></li>
        <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-user">Add Role</i></li>
    </ol>
</nav>
<div class="container jumbotron">
    <form action="/admin/insertRole" method="POST">
        <div class="card">
            <h2 style="text-align: center; padding-top: 2%;"> ADD ROLE</h2>
            <div class="form-group">
                <label for="validationServer02">Role Name</label>
                <input type="name" class="form-control" name="RoleName" id="validationServer02" aria-describedby="Help"
                    placeholder="Enter New Role Name" required>
            </div>
            <div class="form-group">
                <label class="form-label" for="form6Example2">User Permission</label>
                <select  id="permission_ID" multiple multiselect-search="true" multiselect-select-all="true" multiselect-max-items="10" name="permission_ID" class="form-control" required>
                    <% for (var i=0; i < data.length; i++) { %>
                    <option value="<%= data[i].id_Permission %>" ><%= data[i].permissions %></option>
                    <% } %>
                </select>
            </div>
            <div class="form-group">
                <label for="inputState">Status</label>
                <select id="inputState" name="Status" class="form-control">
                    <option selected hidden disabled>Choose status</option>
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                </select>   
                <br>

                <button type="submit" onclick="addRole()" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
<script>
    function addRole() {
        alert("I am an alert box!");
    }
</script>